{% extends "base.html" %}

{% block content %}

   <form method="GET">
            <input type="text" name="search" placeholder="search books">

            <select name="category">
                <option value="">All Categories</option>

                {% for category in categories %}
                   <option value="{{category.id}}">
                    {{ category.name }}
                   </option>
                {% endfor %}   
            </select>
            <button type="submit">Filter</button>
        </form>

<h1>Books</h1>

<a href="{% url 'book_create' %}" class="btn btn-primary mb-3">
    Add Book
</a>

{% for book in books %}

<div class="card mb-4 shadow-sm">
    <div class="card-body">

        {% if book.cover %}
            <img src="{{ book.cover.url }}"
                 class="img-fluid mb-3"
                 style="max-width:150px;">
        {% endif %}

        <h4>{{ book.title }}</h4>

        <p><strong>Author:</strong> {{ book.author }}</p>

        <p><strong>Category:</strong> {{ book.category }}</p>

        <p><strong>Published:</strong> {{ book.published_date }}</p>

        <a href="{% url 'book_update' book.pk %}"
           class="btn btn-warning">
            Edit
        </a>

        <a href="{% url 'book_delete' book.pk %}"
           class="btn btn-danger">
            Delete
        </a>

    </div>
</div>

{% endfor %}
<br>
<div class="mt-3">

    {% if books.has_previous  %}
        <a href="?page={{books.previous_page_number}}">Previous</a>
     
    {% endif %}
     
    <span>
        Page  {{ books.number }} of {{books.paginator.num_pages}}
    </span>

    {% if books.has_next  %}
        <a href="?page={{books.next_page_number}}">Next</a>
     
    {% endif %}


</div>

{% endblock %}
